.mainMenu {
    background-image: url('/imgs/sunset.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "main"
    ;

    .containerOptions {
        grid-area: main;
        justify-self: center;
        align-self: center;
        background-color: #040a1c;
        border-radius: 10px;
        border: 1px solid white;
        height: 90%;
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        grid-area: title;
        text-align: center;
        font-size: 6rem;
        font-family: Nabla;
    }
}